@import url("http://fonts.googleapis.com/css?family=Ubuntu");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: whitesmoke;
  max-width: 750px;
  padding: 0 10%;
  margin: auto;
  padding-top: 20px;
  font-family: "Ubuntu", sans-serif; }

#begin {
  color: rgba(200, 200, 200, 0.5);
  font-weight: 800;
  font-size: 36px;
  margin: 5px 0;
  margin-left: -5%;
  margin-bottom: 40px; }

#end {
  color: rgba(200, 200, 200, 0.5);
  font-weight: 800;
  font-size: 36px;
  margin: 5px 0;
  margin-left: -5%;
  margin-top: 40px; }

article {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px; }
  article p {
    margin: 10px 0;
    font-size: 15px; }

a, a:visited {
  cursor: pointer;
  color: #4183C4;
  text-decoration: none;
  transition: all .2s ease; }

a:hover {
  color: #5aa0d2; }

.logo {
/*    background-color: blue; */
    display: block;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 15px;
    fill: blue;
}

.logo > img {
    display: block;
    margin: auto;
    width: 128px;
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: rgba(200, 200, 200, 0.7);
}

.footer > a {
    color: #8ED0FF;
}
